.nav-section{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(230, 121, 44);
    display: grid;
    grid-template-columns: 2fr 3fr;
    padding: 30px 75px;
    color: rgb(247, 243, 243);
    font-family: sans-serif;
    z-index: 1000;
}
.coffee-logo{
    padding: auto 5px;
}
.coffee-logo:hover{
    cursor: pointer;
}
.coffee-logo img{
    width: 55px;
    height: auto;
    margin-right: 10px;
}
.coffee-logo h3{
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
}
.nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    font-weight: bold;
}
.menu{
    padding-top: 15px;
}
.menu span{
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
}
.menu span:hover{
    background-color: rgb(119, 24, 17);   
}
.nav-icon{
    position: absolute;
    right: 90px;
    top: 30px;
    display: none;
}
.nav-icon img{
    width: 50px;
    height: auto;
}
.close-icon{
    position: absolute;
    top: 10px;
    left: -300px;
}
.close-icon img{
    width: 30px;
    height: auto;
}



/*------------MEDIA QUERY-----------*/
@media (max-width:1000px) {
    .nav-menu{
        font-size: 20px;
    }
}
@media (max-width: 850px) {
    .nav-section{
        grid-template-columns: 1fr 1fr;
    }
    .nav-menu {
        position: absolute;
        top: 0;
        left: -300px; /* hide offscreen by default */
        flex-direction: column;
        width: 250px;
        height: auto;
        background-color: rgb(66, 65, 65);
        text-align: left;
        padding-top: 50px;
        padding-bottom: 50px;
        border-bottom-right-radius: 5px;
        transition: left 0.6s ease;
        z-index: 1000;
    }
    .menu {
        margin: 20px 30px;
    }
    .nav-icon {
        display: block;
        z-index: 1100;
    }
    .close-icon {
        z-index: 1100;
        transition: left 0.6s ease;
    }
    .nav-menu.show {
        left: 0; /* slide into view */
    }
    .close-icon.show{
        left: 10px;
    }
}

@media (max-width:500px) {
    .nav-section{
        padding: 30px 25px;   
    }
    .nav-icon{
        right: 30px;
    }
}
@media (max-width:380px) {
    .coffee-logo h3{
        font-size: 26px;
    }
}